{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Modifier mon mot de passe {% endblock %}

{% block content %}

    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('compte_index') }}">Retourner à mon compte</a>
    <hr>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}
